# Climate change and economics

___________

Scenario: The Bank of England have recently carried out a review on how climate change might affect the financial services sector. They are also looking at how the Bank can ensure financial resilience at the UK transitions to a low carbon economy. Some groups have been critical of this approach. You are asked to suggest why there might there a case for economists and the BoE to prioritise the climate crisis.

# Import relevant packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas

# Import data

This will be a more discursive task. There is no correct answer and there will be a few datasets you'll be using to get an idea of what the issue is and why this might be an issue for economists. 

The data has been taken from the OECD and is available here: https://data.oecd.org/air/air-pollution-exposure.htm

In [4]:
airpoll= pd.read_csv('OCED(2019)Airpollution_exposure.csv',index_col='LOCATION')

In [5]:
airpoll.head()

,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
LOCATION,,,,,,,
AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,1990,10.36402,NaN
AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,1995,10.41745,NaN
AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2000,10.73562,NaN
AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2005,10.52515,NaN
AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2010,10.53559,NaN

# Inspect the data 

Once you import the data, you want to look at what data is telling us and how we can use it.

Need to get to know the data you're using before doing any analysis. 

Note down some of the interesting stats from here - this will be helpful when giving your presentation

In [8]:
airpoll.shape

(4056, 7)

In [9]:
airpoll.describe()

              TIME        Value  Flag Codes
count  4056.000000  4056.000000         0.0
mean   2008.166667    60.638246         NaN
std       8.415641    37.147763         NaN
min    1990.000000     0.000000         NaN
25%    2003.750000    23.208385         NaN
50%    2011.500000    60.455920         NaN
75%    2014.250000    99.756260         NaN
max    2017.000000   103.193240         NaN