# Brexit and FDI 

This is code for a python workshop with LSE undergraduate economics students to explore the role of Brexit on Foreign Direct Investment in the UK.

-------

__The Brief__ 

You are an economist working at a global business headquartered in Singapore. In 2015 your company were looking to expand its operations to the UK but have held off in light of Brexit. You are asked to provide a briefing about what the current data tells us about foreign investment in the UK. Include theory of why this might be the case and what this tells us about the UK economy.

# Motivation 

In June 2016 the UK voted to leave the European Union and on 31st January 2020 the UK officially left the EU. This change is likely to become one of the most important UK economic policy changes for decades, but how will this affect those thinking of investing into the UK? 

Most anaylses carried out by economists before the referendum indicated that leaving the EU would have negative short and long-run consequences for a range of economic indicators, including inflation, foreign direct investment, and per capita income. 

While the status quo of the trading relationship between the UK and EU remains during the transition period, anecdotal evidence suggests the uncertainty over Britain's trading relationship with the EU is damaging the Britain’s attractiveness as a destination for inward investment. 


### Related Literature 

__Note__: For the purposes of the weekend, we suggest only skimming one or two of the papers. Given you are time constrained, you should not spend a lot of your time on this.

Borensztein, E., J. De Gregorio and J. W. Lee. "How Does Foreign Direct Investment Affect Economic Growth?," Journal of International Economics, 1998, v45(1,Jun), 115-135. Available [here.]('https://www.nber.org/papers/w5057.pdf")

Bruno, R., N. Campos and S. Estrin (2017), “What do we know about FDI?" [here.]("https://blogs.lse.ac.uk/gild/2017/09/25/what-do-we-know-about-fdi/")

Dhingra, S., Ottaviano, G.,Rappoport, V., Sampson, T and Thomas, C. (2018) UK trade and FDI: A post-Brexit perspective. Papers in Regional Science, 97 (1). pp. 9-25. ISSN 1056-8190. Available [here.]("http://eprints.lse.ac.uk/85341/13/Ottaviano_UK%20Trade%20and%20FDI.pdf")


Holger Breinlich, Elsa Leromain, Dennis Novy, Thomas Sampson (2019) Voting With Their Money: Brexit and Outward: Investment by UK Firms. CEP Discussion Paper No 1637. Available [here.]("http://cep.lse.ac.uk/pubs/download/dp1637.pdf")

# Approaching the question 

In your presentation think about answering:
* What are the benefits of FDI i.e. why do economists care about it? 
* Has the level [and growth] of FDI in the UK changed since Brexit?
* What does a change in FDI in a country mean for the domestic country? (hint: does it increase jobs or productivity?)
* How has FDI differed by sector in the UK?
* How has FDI differed by country? (include a couple of cross-country examples)

Some useful data sets and glossary of terms from the ONS publication on FDI. Read [here]('https://www.ons.gov.uk/economy/nationalaccounts/balanceofpayments/bulletins/foreigndirectinvestmentinvolvingukcompanies/2018')

# Import packages 
For this you will only need the regular pandas, numpy and matplotlib

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import the data 

- OECD data on FDI flows. Original Data is available [here]('https://stats.oecd.org/Index.aspx?DatasetCode=FDI_FLOW_INDUSTRY'), but the OECD website is horrible to use do don't bother! Reference only. 
- Sterling prices 
- DIT stats are available in their orginal form [here.]("https://www.gov.uk/government/collections/dit-inward-investment-results"). But easiest to download the relevant datasets from [this Dropbox]

In [ ]:
#OECD data

In [ ]:
# sterling prices

In [5]:
#DIT data
total=pd.read_csv('DIT (2019)-inward-investment-time-series-of-fdi-projects.csv', parse_dates=['Period'])
sector=pd.read_csv('DIT(2019)inward-investment--sector-breakdown.csv', parse_dates=['Period'])

# Inspect the data 

Once you import the data, you want to look at what the data is telling us and how we can use it.

Need to get to know the data you're using before doing any analysis.

Note down some of the interesting stats from here - this will be helpful when giving your presentation

In [8]:
total.head(n=3)

    Period Involvement  Projects New_Jobs
0  2007-08         All      1573    45051
1  2008-09         All      1744    35111
2  2009-10         All      1619    53358

In [9]:
sector.head(n=3)

,Period,Involvement,Sector,Projects,New_Jobs,Safe_Jobs,Total_Jobs
0,2016-17,All,Total,2265,75226,32672,107898
1,2016-17,All,Advanced engineering and supply chain,146,3716,7913,11629
2,2016-17,All,Aerospace,47,1818,1275,3093

# Create basic variables, country specific

# Analysis 
Can you calculate growth rates? 

Has the rate of FDI growth into the UK increased or decreased since 2016?

# Visualisations 
What have we found so far?

# Extension 

You have looked at the available data on UK FDI. 

* What is the economic rational for this behaviour as a business? 
* Why might foreign businesses behave in this way? 
* Is this behaviour consistent with your knowledge of trade theory?