# testing do file on happiness and GDP

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas

# import the data

In [2]:
# here we need to use happiness data from the world happiness report
# GDP figures from maddison report. 
# the data has been slightly cleaned?

In [3]:
happy = pd.read_excel('happinessGDP.xlsx',index_col='country')

In [4]:
happy.head()

             rgdpnapc    pop  happinessscore
country
Afghanistan      1929  33332          3.2033
Albania         10342   3044          4.7186
Algeria         14331  40102          5.2113
Argentina       18875  43887          6.0863
Armenia         10080   2919          4.5594

In [7]:
## the column names are pretty long 
## we should remember that we are using REAL GDP per capita 
happy= happy.rename(columns={'rgdpnapc': 'gdppc', 'happinessscore': 'happy'})
happy.head(n=2)

             gdppc    pop   happy
country
Afghanistan   1929  33332  3.2033
Albania      10342   3044  4.7186